<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="contenteditor:commitall" type="Sitecore.Feature.Committer.Customization.Commands.CommitAll,Sitecore.Feature.Committer"/>    
      <command name="contenteditor:togglechangeditems" type="Sitecore.Feature.Committer.Customization.Commands.ToggleChangedItems,Sitecore.Feature.Committer"/>
      <command name="contenteditor:toggleunchangeditems" type="Sitecore.Feature.Committer.Customization.Commands.ToggleUnchangedItems,Sitecore.Feature.Committer"/>
      <command name="contenteditor:toggleaddeditems" type="Sitecore.Feature.Committer.Customization.Commands.ToggleAddedItems,Sitecore.Feature.Committer"/>
      <command name="contenteditor:showcurrentdatabase" type="Sitecore.Feature.Committer.Customization.Commands.ShowCurrentDatabase,Sitecore.Feature.Committer"/>
      <command name="gallery:getcommits" type="Sitecore.Feature.Committer.Customization.Commands.GetCommits,Sitecore.Feature.Committer"/>
      <command name="gallery:selectcommit" type="Sitecore.Feature.Committer.Customization.Commands.SelectCommit,Sitecore.Feature.Committer"/>
      <command name="contenteditor:newitemspackage" type="Sitecore.Feature.Committer.Customization.Commands.GenerateNewItemsPackage,Sitecore.Feature.Committer"/>
      <command name="contenteditor:updateditemspackage" type="Sitecore.Feature.Committer.Customization.Commands.GenerateUpdatedItemsPackage,Sitecore.Feature.Committer"/>
      <command name="contenteditor:newandupdateditemspackage" type="Sitecore.Feature.Committer.Customization.Commands.GenerateNewAndUpdatedItemsPackage,Sitecore.Feature.Committer"/>
    </commands>
  </sitecore>
</configuration>