<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <dataviews>
      <dataview name="Master">
        <patch:attribute name="assembly">Sitecore.Feature.Committer</patch:attribute>
        <patch:attribute name="type">Sitecore.Feature.Committer.Customization.DataViews.CommitterDataView</patch:attribute>
      </dataview>
    </dataviews>
  </sitecore>
</configuration>
