<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <unicorn>
      <configurations>
        <configuration name="Feature.Committer" description="Feature Committer" dependencies="Foundation.*" extends="Helix.Base">
          <predicate>
            <include name="Master.Modules.Committer" database="master" path="/sitecore/system/Modules/Committer" />
            <include name="Master.Templates" database="master" path="/sitecore/templates/Feature/Committer" />
            
            <include name="ContentEditor.Gutters" database="core" path="/sitecore/content/Applications/Content Editor/Gutters/Committer changes" />
            <include name="Ribbons.Chunks" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Committer" />
            <include name="Ribbons.Default" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Ribbons/Default/Committer" />
            <include name="Ribbons.Strips" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Committer/Menu" />
            <include name="FieldTypes.PathList" database="core" path="/sitecore/system/Field types/List Types/Path Displaying Tree List" />
            <include name="Core.Modules.Committer" database="core" path="/sitecore/system/Modules/Committer" />
            <include name="Core.Templates" database="core" path="/sitecore/templates/Feature/Committer" />
          </predicate>
          <rolePredicate>
            <include domain="modules" pattern="^Feature Committer .*$" />
          </rolePredicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>