<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <controlSources>
      <source mode="on" namespace="Sitecore.Feature.Committer.Controls" assembly="Sitecore.Feature.Committer" prefix="Committer" />
    </controlSources>
  </sitecore>
</configuration>
